# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
.env

# Node
node_modules/
build/
frontend/.env
*.log

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# MongoDB
mongo_data/

# Secrets
*.pem
*.key